:root {
  --accent-color: #2196f3;
  --secondary-color: #757575;
  --third-color: #212121;
  --fourth-color: #ffffff;
  --fifth-color: #2f303a;
  --sixth-color: #afb1b8;
  --seventh-color: #f5f4fa;
  --eighth-color: #ececec;
  --ninth-color: #eeeeee;
  --tenth-color: #188ce8;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --dur: 250ms;
  --tim-fun: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  color: var(--third-color);
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--sixth-color);
  transition-property: fill;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--fourth-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity var(--dur) var(--tim-fun), visibility var(--dur) var(--tim-fun);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 580px;
  padding: 40px;
  background-color: var(--fourth-color);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.icon-close {
  padding: 4px 4px;
}

.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-field {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.modal-form-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-comment {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  transition-property: border-color;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.modal-form-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox-policy {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-left: 14px;
  margin-top: 10px;
}

.modal-form-checkbox-policy::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 0.2px solid var(--third-color);
  margin-right: 7px;
  border-radius: 2px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-policy::before {
  background-image: url(../images/iconcheck.svg);
  border: none;
}

.modal-form-checkbox:focus + .modal-form-checkbox-policy::before {
  outline-color: var(--accent-color);
  box-shadow: 0 0 0 2px;
}

.modal-form-btn {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--fourth-color);
  background: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 56px;
  letter-spacing: 0.06em;
  margin-top: 30px;
  transition-property: background;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background: var(--tenth-color);
}

.modal-form-policy-link {
  color: var(--accent-color);
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  color: var(--third-color);
  transition-property: color;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu .menu__link.current {
  color: var(--accent-color);
}

.current {
  position: relative;
}

.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  height: 4px;
  width: 100%;
  top: 44px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  animation-duration: 1000ms;
}

.header__logo {
  margin-right: 92px;
}

.logo_log {
  color: var(--third-color);
}

.logo_footer {
  color: var(--fourth-color);
}

.header_style {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--eighth-color);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__list-icon {
  margin-right: 10px;
  fill: currentColor;
  transition-property: fill;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
  color: var(--secondary-color);
}

.contacts__mail-link:hover .contacts__list-icon,
.contacts__mail-link:focus .contacts__list-icon,
.contacts__tel-link:hover .contacts__list-icon,
.contacts__tel-link:focus .contacts__list-icon {
  fill: var(--accent-color);
}

.contacts__mail-link,
.contacts__tel-link {
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
  color: var(--secondary-color);
}

.contacts__mail-link:hover, .contacts__mail-link:focus,
.contacts__tel-link:hover,
.contacts__tel-link:focus {
  color: var(--accent-color);
}

.area {
  background-color: var(--fifth-color);
}

.hero {
  display: flex;
  flex-direction: column;
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--fourth-color);
  text-transform: uppercase;
  max-width: 696px;
  text-align: center;
  letter-spacing: 0.06em;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--fourth-color);
  background: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  margin-top: 30px;
}

.features {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
}

.features__item {
  max-width: 270px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 10px;
}

.iconcont {
  height: 120px;
  margin-bottom: 30px;
  background: var(--seventh-color);
  border: 4px solid;
  border-color: var(--seventh-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-list {
  display: flex;
}

.working__img-list {
  margin-left: -30px;
  margin-top: -30px;
}

.img-list__item {
  position: relative;
  flex-basis: calc((100%-90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.activity {
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fourth-color);
}

.img-list__activity {
  position: absolute;
}

.team {
  background: var(--seventh-color);
}

.team-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list__item {
  flex-basis: calc((100%-120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  background: var(--fourth-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.card-cont__team-name {
  margin-bottom: 10px;
}

.team-profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.card-cont__team-profession {
  margin-bottom: 16px;
}

.card-cont {
  text-align: center;
  padding: 30px 32px;
}

.customers-list__icon {
  width: 106px;
  height: 60px;
  fill: var(--sixth-color);
  transition-property: fill;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.customers-list__link:hover .customers-list__icon,
.customers-list__link:focus .customers-list__icon {
  fill: var(--accent-color);
}

.customers-list {
  display: flex;
  justify-content: space-between;
}

.customers-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--sixth-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.customers-list__link:hover, .customers-list__link:focus {
  border-color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  width: 231px;
  margin-right: 70px;
}

.footer-mooter {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  margin-bottom: 20px;
  display: block;
}

.address-map {
  transition-property: color;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.address-map:hover, .address-map:focus {
  color: var(--accent-color);
}

.address-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fourth-color);
}

.address-footer {
  font-style: normal;
}

.address-footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.social-title {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fourth-color);
}

.social-container {
  width: 206px;
  height: 80px;
}

.social-list__link {
  background: rgba(255, 255, 255, 0.1);
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-title {
  margin-bottom: 20px;
}

.footer .social-list__icon {
  fill: var(--fourth-color);
}

.mailing-form {
  width: 570px;
  height: 86px;
  margin-left: 93px;
}

.mailing {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.mailing-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fourth-color);
}

.mailing-form-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: none;
  width: 358px;
  height: 50px;
  padding: 16px 0 16px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.mailing-form-btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--fourth-color);
}

.mailing-icon {
  margin-left: 10px;
}

.filter-menu {
  display: flex;
  justify-content: center;
}

.filter-menu__item:not(:last-child) {
  margin-right: 8px;
}

.filter-menu .filter-menu__btn {
  margin-bottom: 50px;
}

.filter-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--seventh-color);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.filter-btn:hover, .filter-btn:focus {
  color: var(--fourth-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-name {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--third-color);
}

.project-type {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects-img-list-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  background: var(--fourth-color);
}

.projects-list-link-wrapper {
  display: block;
  transition-property: box-shadow;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.projects-list-link-wrapper:hover, .projects-list-link-wrapper:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-content {
  padding: 20px 24px;
  border: 1px solid var(--ninth-color);
}

.projects-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--fourth-color);
  padding: 63px 24px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.projects-list-link-wrapper:hover .overlay,
.projects-list-link-wrapper:focus .overlay {
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */