:root {
  --accent-color: #2196f3;
  --secondary-color: #757575;
  --third-color: #212121;
  --fourth-color: #ffffff;
  --fifth-color: #2f303a;
  --sixth-color: #afb1b8;
  --seventh-color: #f5f4fa;
  --eighth-color: #ececec;
  --ninth-color: #eeeeee;
  --tenth-color: #188ce8;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --dur: 250ms;
  --tim-fun: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  color: var(--third-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--sixth-color);
  transition-property: fill;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--fourth-color);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity var(--dur) var(--tim-fun), visibility var(--dur) var(--tim-fun);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: var(--fourth-color);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 580px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.icon-close {
  padding: 4px 4px;
}

.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-field {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.modal-form-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-comment {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  transition-property: border-color;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.modal-form-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox-policy {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-left: 0px;
  margin-top: 10px;
}

.modal-form-checkbox-policy::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 0.2px solid var(--third-color);
  margin-right: 7px;
  border-radius: 2px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-policy::before {
  background-image: url(../images/iconcheck.svg);
  border: none;
}

.modal-form-checkbox:focus + .modal-form-checkbox-policy::before {
  outline-color: var(--accent-color);
  box-shadow: 0 0 0 2px;
}

.modal-form-btn {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--fourth-color);
  background: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 56px;
  letter-spacing: 0.06em;
  margin-top: 30px;
  transition-property: background;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background: var(--tenth-color);
}

.modal-form-policy-link {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .modal-form-head {
    line-height: 1.15;
  }
  .modal-form-checkbox-policy {
    margin-left: 14px;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
}

.menu__link {
  color: var(--third-color);
  transition-property: color;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu .menu__link.current {
  color: var(--accent-color);
}

.current {
  position: relative;
}

.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  height: 4px;
  width: 100%;
  top: 44px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.logo_log {
  color: var(--third-color);
}

.logo {
  width: 134px;
  height: 28px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  animation-duration: 1000ms;
}

.logo_footer {
  color: var(--fourth-color);
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
  .logo,
  .footer_logo {
    font-size: 26px;
    line-height: 1.19;
    width: 145px;
    height: 31px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu_social-item:not(:last-child)::after {
    display: inline-block;
    content: "";
    width: 22px;
    height: 1px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    position: relative;
    top: -5px;
  }
  .mobile-menu_close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    padding: 0;
    border: none;
    width: 40px;
    height: 40px;
  }
  .mobile-menu_close-btn:hover, .mobile-menu_close-btn:focus {
    fill: var(--accent-color);
  }
  .mobile-menu_close-icon {
    width: 40px;
    height: 40px;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu_social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-menu_social {
    display: flex;
    margin-top: 64px;
  }
  .mobile-menu_link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.76;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .mobile-menu_tel-item {
    margin-bottom: 32px;
  }
  .mobile-menu_contacts-tel-link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-menu_contacts-mail-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
  }
}

.mobile-menu_container {
  position: relative;
  padding-left: 40px;
  padding-right: 15px;
  padding-top: 48px;
  padding-bottom: 48px;
  width: 480px;
  height: 796px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
    min-width: 480px;
  }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header_mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .header_mobile-menu-btn:hover, .header_mobile-menu-btn:focus {
    fill: var(--accent-color);
  }
  .header_mobile-menu-icon {
    width: 24px;
    height: 16px;
  }
}

@media screen and (min-width: 768px) {
  .header_mobile-menu-btn {
    display: none;
  }
  .header .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__nav {
    display: flex;
    align-items: center;
  }
  .header_style {
    color: var(--third-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .contacts__list-icon {
    margin-right: 8px;
    fill: currentColor;
    transition-property: fill;
    transition-duration: var(--dur);
    transition-timing-function: var(--tim-fun);
    color: var(--secondary-color);
  }
  .contacts__mail-link:hover .contacts__list-icon,
  .contacts__mail-link:focus .contacts__list-icon,
  .contacts__tel-link:hover .contacts__list-icon,
  .contacts__tel-link:focus .contacts__list-icon {
    fill: var(--accent-color);
  }
  .contacts__mail-link,
  .contacts__tel-link {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    transition-property: color;
    transition-duration: var(--dur);
    transition-timing-function: var(--tim-fun);
    color: var(--secondary-color);
  }
  .contacts__mail-link:hover, .contacts__mail-link:focus,
  .contacts__tel-link:hover,
  .contacts__tel-link:focus {
    color: var(--accent-color);
  }
  .contacts__mail-link {
    margin-bottom: 10px;
  }
  .contacts__item {
    font-size: 12px;
    line-height: 1.17;
  }
  .contacts__tel-link {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--eighth-color);
  }
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .contacts {
    display: flex;
    align-items: center;
    align-items: baseline;
  }
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
  .contacts__item {
    font-size: 14px;
    line-height: 1.14;
  }
  .contacts__mail-link,
  .contacts__tel-link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.area {
  background-color: var(--fifth-color);
}

.hero {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4));
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.66;
  color: var(--fourth-color);
  text-transform: uppercase;
  max-width: 360px;
  text-align: center;
  letter-spacing: 0.06em;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--fourth-color);
  background: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: url("../images/hero/bg-mob.jpg");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/bg-mob@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url("../images/hero/bg-tabl.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/bg-tabl@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: url("../images/hero/bg.jpg");
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/bg@2x.jpg");
  }
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 10px;
}

.iconcont {
  height: 120px;
  margin-bottom: 30px;
  background: var(--seventh-color);
  border: 4px solid;
  border-color: var(--seventh-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .features__item {
    max-width: 450px;
  }
  .features__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    max-width: 384px;
  }
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .features__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    max-width: 270px;
  }
  .features {
    min-width: 1170px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .working {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .img-list {
    display: flex;
  }
  .working__img-list {
    margin-left: -30px;
    margin-top: -30px;
  }
  .img-list__item {
    position: relative;
    flex-basis: calc((100%-90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
  .activity {
    left: 0;
    bottom: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--fourth-color);
  }
  .img-list__activity {
    position: absolute;
  }
}

.team {
  background: var(--seventh-color);
}

.team-list__item {
  background: var(--fourth-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team_title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.card-cont {
  text-align: center;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-profession {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.card-cont__team-profession {
  margin-bottom: 16px;
}

.social-list-team {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .team-list__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
  }
  .team-list__item {
    width: calc((100% - 120px) / 4);
    margin-left: 15px;
    margin-right: 15px;
  }
  .social-list-team {
    margin-bottom: 30px;
  }
  .team_title {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

.customers-list__icon {
  width: 106px;
  height: 60px;
  fill: var(--sixth-color);
  transition-property: fill;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.customers-list__link:hover .customers-list__icon,
.customers-list__link:focus .customers-list__icon {
  fill: var(--accent-color);
}

.customers-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid var(--sixth-color);
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.customers-list__link:hover, .customers-list__link:focus {
  border-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .customers-list__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .customers-list__link {
    width: 226px;
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .customers-list__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list__link {
    width: 170px;
  }
  .customers-list {
    display: flex;
    flex-wrap: nowrap;
  }
}

.footer {
  min-width: 100%;
}

.footer_logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.address-map {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fourth-color);
  margin-bottom: 8px;
}

.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fourth-color);
  margin-bottom: 20px;
}

.contacts__mail-link-footer,
.contacts__tel-link-footer {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.contacts__mail-link-footer {
  margin-bottom: 8px;
}

.social-list__link {
  background: rgba(255, 255, 255, 0.1);
}

.footer .social-list__icon {
  fill: var(--fourth-color);
}

.mailing-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fourth-color);
}

.mailing-form-input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 16px 0 16px 16px;
  margin: 20px 0;
}

.mailing-form-btn {
  width: 200px;
  height: 50px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--fourth-color);
  cursor: pointer;
}

.mailing-form-btn:hover, .mailing-form-btn:focus {
  background: var(--tenth-color);
}

.mailing-icon {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .footer {
    width: 480px;
    height: 603px;
    text-align: center;
  }
  .footer_logo {
    display: block;
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-bottom: 20px;
  }
  .contacts__mail-link {
    margin-bottom: 8px;
  }
  .contacts__tel-link {
    margin-bottom: 60px;
  }
  .social-container {
    width: 206px;
    height: 80px;
    margin: 60px auto;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
    height: 463px;
  }
  .tablcont {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer-container {
    margin-left: 61px;
    text-align: center;
  }
  .footer_logo {
    align-items: center;
  }
  .social-container {
    width: 206px;
    margin-right: 74px;
  }
  .mailing-form {
    display: block;
    width: 450px;
    height: 156px;
    margin: 60px auto;
  }
  .mailing-title {
    display: block;
    text-align: center;
  }
  .mailing-form-btn {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    height: 252px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-container {
    width: 231px;
    margin-right: 70px;
    text-align: left;
    margin: 0;
  }
  .footer-mooter {
    display: flex;
    align-items: baseline;
  }
  .footer_logo {
    font-size: 26px;
    line-height: 1.19;
  }
  .contacts__mail-link-footer,
  .contacts__tel-link-footer {
    text-align: left;
  }
  .mailing-form {
    width: 570px;
    height: 86px;
    margin: 0;
  }
  .mailing-title {
    text-align: left;
    margin-bottom: 20px;
  }
  .mailing {
    display: flex;
    align-items: center;
  }
  .mailing-form-input {
    width: 358px;
    margin: 0 12px 0 0;
  }
  .social-container {
    margin-left: 70px;
    margin-right: 94px;
  }
  .social-title {
    text-align: left;
  }
  .mailing-form-btn {
    padding: 0;
  }
  .tablcont {
    align-items: baseline;
  }
  .address-footer {
    font-style: normal;
  }
  .address-footer-item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.filter-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--seventh-color);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.filter-btn:hover, .filter-btn:focus {
  color: var(--fourth-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-name {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--third-color);
}

.project-type {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.card-content {
  padding: 20px 24px;
  border: 1px solid var(--ninth-color);
}

.projects-list-link-wrapper {
  display: block;
  transition-property: box-shadow;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.projects-list-link-wrapper:hover, .projects-list-link-wrapper:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--fourth-color);
  padding: 77px 24px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}

.projects-list-link-wrapper:hover .overlay,
.projects-list-link-wrapper:focus .overlay {
  transform: translateY(0%);
}

@media screen and (max-width: 767px) {
  .header_mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .header_mobile-menu-btn:hover, .header_mobile-menu-btn:focus {
    fill: var(--accent-color);
  }
  .header_mobile-menu-icon {
    width: 24px;
    height: 16px;
  }
  .filter-menu {
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
  }
  .filter-menu__item {
    margin-right: 8px;
    margin-bottom: 15px;
  }
  .projects-img-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .filter-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .filter-menu__item:not(:last-child) {
    margin-right: 8px;
  }
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .projects-img-list-item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
    background: var(--fourth-color);
  }
  .overlay {
    padding: 49px 24px;
  }
  .card-content-one {
    height: 148px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-menu__btn {
    margin-bottom: 20px;
  }
  .card-content-one {
    height: 112px;
  }
  .projects-img-list-item {
    flex-basis: calc((100% - 90px) / 3);
  }
  .overlay {
    padding: 63px 24px;
  }
}
/*# sourceMappingURL=main.css.map */