.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 10px;
}
.iconcont {
  height: 120px;
  margin-bottom: 30px;
  background: var(--seventh-color);
  border: 4px solid;
  border-color: var(--seventh-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .features__item {
    max-width: 450px;
  }
  .features__title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    max-width: 384px;
  }
  .features {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  .features__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    max-width: 270px;
  }
  .features {
    min-width: 1170px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
