.header {
  border-bottom: 1px solid var(--eighth-color);
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header_mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
  .header_mobile-menu-icon {
    width: 24px;
    height: 16px;
  }
}

// 768+
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__list-icon-mail {
    width: 14px;
    height: 10px;
  }
  .contacts__list-icon-tel {
    height: 14px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    &_mobile-menu-btn {
      display: none;
    }
    .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__nav {
      display: flex;
      align-items: center;
    }
    &_style {
      color: var(--third-color);
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
    }

    & {
      padding-top: 21px;
      padding-bottom: 21px;
    }
  }
  .contacts__list-icon {
    margin-right: 8px;
    fill: currentColor;
    transition-property: fill;
    transition-duration: var(--dur);
    transition-timing-function: var(--tim-fun);
    color: var(--secondary-color);
    .contacts__mail-link:hover &,
    .contacts__mail-link:focus &,
    .contacts__tel-link:hover &,
    .contacts__tel-link:focus & {
      fill: var(--accent-color);
    }
  }

  .contacts__mail-link,
  .contacts__tel-link {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    transition-property: color;
    transition-duration: var(--dur);
    transition-timing-function: var(--tim-fun);
    color: var(--secondary-color);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .contacts__mail-link {
    margin-bottom: 10px;
  }
  .contacts__item {
    font-size: 12px;
    line-height: 1.17;
  }
}

//  1200+

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;

    & {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
  .contacts {
    display: flex;
    align-items: center;
    align-items: baseline;
  }
  .contacts__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .contacts__item {
    font-size: 14px;
    line-height: 1.14;
  }
  .contacts__mail-link,
  .contacts__tel-link {
    font-size: 14px;
    line-height: 1.14;
  }
  .contacts__list-icon-mail {
    width: 16px;
    height: 12px;
  }
  .contacts__list-icon-tel {
    height: 16px;
  }
  .contacts__list-icon {
    margin-right: 10px;
  }

  // .header-container {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  // }
}

// .header_style {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
// }

// .header {
//   padding-top: 24px;
//   padding-bottom: 24px;
//   border-bottom: 1px solid var(--eighth-color);
// }
//  .header-container {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//     }

// .header__nav {
//   display: flex;
//   align-items: center;
// }

// .contacts {
//   display: flex;
//   align-items: center;
// }
// .contacts__item {
//   &:not(:last-child) {
//     margin-right: 50px;
//   }
// }

// .contacts__list-icon {
//   margin-right: 10px;
//   fill: currentColor;
//   transition-property: fill;
//   transition-duration: var(--dur);
//   transition-timing-function: var(--tim-fun);
//   color: var(--secondary-color);
//   .contacts__mail-link:hover &,
//   .contacts__mail-link:focus &,
//   .contacts__tel-link:hover &,
//   .contacts__tel-link:focus & {
//     fill: var(--accent-color);
//   }
// }

// .contacts__mail-link,
// .contacts__tel-link {
//   display: flex;
//   align-items: center;
//   transition-property: color;
//   transition-duration: var(--dur);
//   transition-timing-function: var(--tim-fun);
//   color: var(--secondary-color);
//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }
