@media screen and (max-width: 1199px) {
  .working {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .img-list {
    display: flex;
  }
  .working__img-list {
    margin-left: -30px;
    margin-top: -30px;
  }
  .img-list__item {
    position: relative;
    flex-basis: calc((100%-90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }

  .activity {
    left: 0;
    bottom: 0;
    width: 370px;
    height: 70px;

    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--fourth-color);
  }
  .img-list__activity {
    position: absolute;
  }
  .working {
    padding-bottom: 94px;
  }
}
