.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.menu__link {
  color: var(--third-color);
  transition-property: color;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.menu .menu__link.current {
  color: var(--accent-color);
}
.current {
  position: relative;
  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    top: 44px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
