@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 10;
    &_social-item {
      &:not(:last-child) {
        &::after {
          display: inline-block;
          content: "";
          width: 22px;
          height: 1px;
          border: 1px solid rgba(33, 33, 33, 0.2);
          transform: rotate(90deg);
          position: relative;
          top: -5px;
        }
      }
    }

    &_close-btn {
      position: absolute;
      top: 10px;
      right: 15px;
      background-color: transparent;
      padding: 0;
      border: none;
      width: 40px;
      height: 40px;
      &:hover,
      &:focus {
        fill: var(--accent-color);
      }
    }
    &_close-icon {
      width: 40px;
      height: 40px;
    }
    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    &_social-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 0.02em;
      color: var(--accent-color);
    }

    &_social {
      display: flex;
      margin-top: 64px;
    }
    &_link {
      font-weight: 500;
      font-size: 40px;
      line-height: 1.76;
      letter-spacing: 0.02em;
      color: #212121;
    }
    &_tel-item {
      margin-bottom: 32px;
    }
    &_contacts-tel-link {
      font-weight: 500;
      font-size: 34px;
      line-height: 1.18;
      letter-spacing: 0.02em;
      color: var(--accent-color);
    }
    &_contacts-mail-link {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.67;
      letter-spacing: 0.02em;
      color: var(--secondary-color);
    }
  }
}

.mobile-menu_container {
  position: relative;
  padding-left: 40px;
  padding-right: 15px;
  padding-top: 48px;
  padding-bottom: 48px;
  width: 480px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .mobile-menu_container {
    max-width: 100%;
  }
  .mobile-menu_contacts-tel-link {
    max-width: 100%;
    font-size: 30px;
  }
  .mobile-menu_social {
    flex-wrap: wrap;
    max-width: 100%;
  }
}
