.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.icon-close {
  padding: 4px 4px;
}

.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-color);
  margin-bottom: 12px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form-field {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}
.modal-form-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-comment {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  transition-property: border-color;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form-checkbox-policy {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-left: 0px;
  margin-top: 10px;
  &::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 0.2px solid var(--third-color);
    margin-right: 7px;
    border-radius: 2px;
    .modal-form-checkbox:checked + & {
      background-image: url(../images/iconcheck.svg);
      border: none;
    }
    .modal-form-checkbox:focus + & {
      outline-color: var(--accent-color);
      box-shadow: 0 0 0 2px;
    }
  }
}

.modal-form-btn {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--fourth-color);
  background: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 56px;
  letter-spacing: 0.06em;
  margin-top: 30px;
  transition-property: background;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
  &:hover,
  &:focus {
    background: var(--tenth-color);
  }
}

.modal-form-policy-link {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .modal-form-head {
    line-height: 1.15;
  }

  .modal-form-checkbox-policy {
    margin-left: 14px;
  }
}
