@media screen and (min-width: 320px) and (max-width: 479px) {
  .modal {
    max-width: 100%;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: var(--fourth-color);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: var(--dur);
  transition-timing-function: var(--tim-fun);
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 580px;
  }
}
