:root {
  --accent-color: #2196f3;
  --secondary-color: #757575;
  --third-color: #212121;
  --fourth-color: #ffffff;
  --fifth-color: #2f303a;
  --sixth-color: #afb1b8;
  --seventh-color: #f5f4fa;
  --eighth-color: #ececec;
  --ninth-color: #eeeeee;
  --tenth-color: #188ce8;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --dur: 250ms;
  --tim-fun: cubic-bezier(0.4, 0, 0.2, 1);
}
